---
layout: default
title: Projects
permalink: /projects/
---

<div id="home">
  <ul class="posts">
    <section id="archive">
      {% for post in site.posts %}
      <ul>
        {% unless post.next %}
        <h3>{{ post.date | date: '%Y' }}</h3>
        {% else %} {% capture year %}{{ post.date | date: '%Y' }}{% endcapture
        %} {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
        <h3>{{ post.date | date: '%Y' }}</h3>
        {% endif %} {% endunless %}

        <li>
          <span>{{ post.date | date:"%d %b" }}</span>
          <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a> <br />
        </li>
      </ul>

      {% endfor %}
    </section>
  </ul>
</div>
